* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #121212;
    color: #FFF;
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2F3336;
    transition: all 0.35s;
}

.sidebar a {
    color: #FFF;
}

.sidebar button {
    height: 60px;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button>span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 15px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;
}

.sidebar button:hover>span {
    background-color: rgba(255, 255, 255, 0.08);
}

.sidebar-header {
    width: 100%;
    margin-bottom: 16px;
}

.sidebar button i {
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 16px;
}

.sidebar>nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo-img {
    width: 38px;
    min-height: 38px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
    margin-left: 10px;
}

.logo-img:hover {
    transform: scale(1.5);
}

.main {
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
}

.container-registro-ponto {
    display: none;
}

.container-registro-ponto-ativo .meio {
    margin-left: 300px;
    margin-top: 50px;
    height: 600px;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    color: #FFF;
}

.container-registro-ponto-ativo h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 50px;
}

.container-registro-ponto-ativo form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-registro-ponto-ativo .meio label {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.container-registro-ponto-ativo input[type="date"],
.container-registro-ponto-ativo input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #2F3336;
    background-color: #333;
    color: #FFF;
    font-size: 15px;
    margin: 10px 0px 15px 0px;
    width: 40%;
    text-align: center;
}

.container-registro-ponto-ativo input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 70px;
    width: 60%;
}

.container-registro-ponto-ativo input[type="submit"]:hover {
    background-color: #45A049;
}

.container-registro-ponto-ativo .meio span {
    margin: 0px 10px 0px 0px;
}

/* Ajuste de side-bar apenas com ícones*/

@media (max-width: 920px) {
    .sidebar {
        width: 72px;
    }

    .sidebar button>span {
        width: 50px;
    }

    .sidebar button>span>span {
        opacity: 0;
        visibility: hidden;
    }

    .main {
        transition: margin 0.4s;
        margin-left: 80px;
    }

}

@media (max-width: 480px) {
    .sidebar {
        display: inline-block;
    }

    .button-mobile {
        display: none;
    }

    .main {
        margin-left: 6px;
    }

    .container-registro-ponto-ativo .meio {
        margin: 80px 30px 0px 85px;
        width: 75%;
        height: 550px;
        padding: 10px;
    }

    .container-registro-ponto-ativo input[type="date"],
    .container-registro-ponto-ativo input[type="text"] {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #2F3336;
        background-color: #333;
        color: #FFF;
        font-size: 14px;
        width: 60%;
        text-align: center;
    }

    .container-registro-ponto-ativo input[type="submit"] {
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: #4CAF50;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 30px;
        width: 50%;
    }
}
