/* Reset básico para remover margem e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para o corpo do documento */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Estilo do título principal */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo do link */
a {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo das células da tabela */
th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo das células de cabeçalho */
th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Cor de fundo alternada para linhas pares */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo dos botões de ação (Excluir, Editar) */
td a {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s;
}

td a:hover {
    background-color: #0056b3;
}

.botao-excluir a {
    background-color: #ff0000;
}

.botao-excluir a:hover {
    background-color: #e24c4c;
}

.botao-editar a {
    background-color: #ffa500;
}

.botao-editar a:hover {
    background-color: #e2b257;
}

.pesquisa-docente {
    float: right;
    margin-right: 50px;
}

.pesquisa-docente input {
    width: 230px;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    margin: 5px;
}

.pesquisa-docente button {
    border: 0.5px solid;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px;
}

.pesquisa-docente button:hover {
    cursor: pointer;
    position: relative;
    background-color: #ddd;
}

/* css para o modal de confirmação de zerar banco de horas */
.modal {
    display: none; /* Esconder o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #2F3336;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    color: #FFF;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.confirmBtn,
.cancelBtn {
    background-color: #e3342b;
    color: white;
    padding: 10px 20px;
    margin: 10px 5px 0 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirmBtn:hover {
    background-color: #c92a1b;
}

.cancelBtn {
    background-color: #3498db;
}

.cancelBtn:hover {
    background-color: #2980b9;
}

/* Estilo para o ícone de zerar banco de horas */
.material-symbols-outlined {
    font-size: 24px;
    cursor: pointer;
}


/* estilo do alerta */
.alerta {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.alerta.sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alerta.erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
