* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2a2f3a;
    font-family: sans-serif;
}

.text-empresa {
    color: #FFF;
    float: left;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.text-empresa h1 {
    font-size: 100px;
    font-style: italic;
}

.text-empresa h2 {
    font-size: 25px;
}

.form-login {
    float: right;
    margin-right: 200px;
}

.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 320px;
    padding: 35px;
    border-radius: 10px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    color: #CBD0F7;
    margin-top: 10px;
    height: 25px;
    background-color: #252a34;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}

input::placeholder{
    color: #CBD0F7;
    font-size: 14px;
}

form [type="submit"] {
    display: block;
    background-color: #5568FE;
    font-size: 15px;
    text-transform: uppercase;
    font-weight:bolder;
    margin-top: 150px;
}

form [type="submit"]:hover {
    cursor: pointer;
    background-color: #6896f8
}


@media (width < 920px) {
    .text-empresa{
        display: none;
    }

    .form-login {
        float: none;
        margin: 10px 10px 10px 10px;
    }

    .area-login {
        height: 600px;
    }

    .login {
        width: 300px;
        height: 400px;
    }

    form [type="submit"] {
        margin-top: 230px;
    }    
  
}

#msgErroUsernamePassword{
    color: red;
}
#msgDeslogar
{
    color: green;
}