<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form action="/cadastroUsuario" method="post">
        <label for="nomeUsuario">Nome de Usuário:</label><br>
        <input type="text" id="nomeUsuario" name="nomeUsuario"><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha"><br><br>

        <label for="role">Role:</label><br>
        <select id="role" name="role">
            <option value="ADMIN,USER">Admin</option>
            <option value="USER">User</option>
        </select><br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
