<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docentes</title>
    <link rel="stylesheet" href="http://localhost:8080/css/formCadastroDocente.css" />
</head>
<body>
    <div class="container">
      <section class="header">Cadastrar novo docente</section>
      <form id="form" class="form">
        <div class="form-content">
          <label for="">Nome:</label>
          <input 
          type="text"
          id=""
          placeholder="Informe o nome do docente"
          />
          <label for="">Telefone:</label>
          <input 
          type="text"
          id=""
          placeholder="Informe o seu telefone"
          />
          <label for="">Data de nascimento:</label>
          <input 
          type="date"
          id=""
          />
          <label for="">CPF:</label>
          <input 
          type="text"
          id=""
          placeholder="Informe o CPF do docente"
          />
          <label for="">Email:</label>
          <input 
          type="text"
          id=""
          placeholder="Informe o email do docente"
          />
          <label for="">Horas mensais:</label>
          <input 
          type="text"
          id=""
          placeholder="Informe o email do docente"
          />
          <button type="submit">Salvar</button>
        </div>
      </form>
    </div>
</body>
</html>