<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="icon" type="imagex/png" href="/img/jornada-de-trabalho.png">
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../css/montandoGrafico.css">
</head>
<body>
    <script src="../scripts/home.js"></script>
    <div>
        <aside class="sidebar">
            <header class="sidebar-header">
                <img src="../img/foto-perfil.png" alt="Foto_Perfil" class="profile-img">
                </img>
                <div class="welcome-message">
                    Seja bem-vindo,
                    <span class="user-name" th:text="${usuario.username}"></span>
            </header>

            <nav aria-label="menu">
                <div th:if="${usuario.role != 'USER'}">
                    <button onclick="apresentarHome()" class="botao-home">
                        <span>
                            <i class="material-symbols-outlined"> home </i>
                            <span>Home</span>
                        </span>
                    </button>
                </div>
                <div th:if="${usuario.role != 'USER'}">
                    <a href="listaDocentes" target="_blank" rel="noopener">
                        <button class="botao-docentes">
                            <span>
                                <i class="material-symbols-outlined"> person </i>
                                <span>Gerenciar docentes</span>
                            </span>
                        </button>
                    </a>
                    <button onclick="apresentarAjustesDePonto()" class="">
                        <span>
                            <i class="material-symbols-outlined"> data_check </i>
                            <span>Ajustes de Ponto</span>
                        </span>
                    </button>
                </div>

                <div th:if="${usuario.role != 'ADMIN'}">
                    <button onclick="apresentarRegistroDePonto()" class="botao-registro-ponto">
                        <span>
                            <i class="material-symbols-outlined"> alarm_on </i>
                            <span>Registro de ponto</span>
                        </span>
                    </button>

                    <div id="idUsuario-data" th:attr="data-attribute=${usuario.id}"></div>
                    <button onclick="apresentaListaPonto()" class="botao-lista-registros">
                        <span>
                            <i class="material-symbols-outlined"> list </i>
                            <span>Meus registros</span>
                        </span>
                    </button>
                </div>
                <button onclick="logout()">
                    <span>
                        <i class="material-symbols-outlined"> logout </i>
                        <span>Sair</span>
                    </button>
            </nav>
        </aside>
    </div>
    <div th:if="${usuario.role == 'ADMIN'}">
        <h1 id="h1-dashboard">Dashboard</h1>
        <div class="dashboard">
            <div class="chart-container">
                <select id="lineChartSelect" class="docente-select"></select>
                <canvas id="lineChart"></canvas>
            </div>

            <div class="chart-container">
                <select id="barChartSelect" class="docente-select"></select>
                <canvas id="barChart"></canvas>
            </div>

            <div class="chart-container">
                <select id="bankHoursChartSelect" class="docente-select"></select>
                <canvas id="bankHoursChart"></canvas>
                <p id="noBankHoursMessage" style="display:none; color:red;">Este usuário não possui banco de horas.</p>
            </div>

            <div class="chart-container">
                <select id="hoursWorkedChartSelect" class="docente-select"></select>
                <canvas id="hoursWorkedChart"></canvas>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
        <script src="../scripts/montandoGrafico.js"></script>
    </div>

    <div th:if="${usuario.role != 'ADMIN'}">
        <div class="container-registro-ponto-ativo" id="container-registro-ponto">
            <div class="meio">
                <h1>Registro de Ponto</h1>
                <form id="marcacaoPontoForm" th:action="@{/ponto/cadastroPonto}" method="post">
                    <label for="idUsuario">
                        <div th:if="${usuario != null}">
                            <input type="number" id="idUsuario" name="idUsuario" th:value="${usuario.id}" hidden />
                        </div>
                    </label>
                    <input type="hidden" id="localizacaoInput" name="localizacao">
                    <label for="data">
                        <span class="material-symbols-outlined">calendar_month</span><span>Data de registro ponto:</span>
                    </label>
                    <input type="date" id="data" name="data" readonly><br>

                    <label for="horaEntrada">
                        <span class="material-symbols-outlined">schedule</span><span>Registro hora entrada:</span>
                    </label>
                    <input type="text" id="horaEntrada" name="horaEntrada" readonly><br>

                    <label for="horaEntrada">
                        <span class="material-symbols-outlined">schedule</span><span>Registro hora saída:</span>
                    </label>
                    <input type="text" id="horaSaida" name="horaEntrada" readonly><br>

                    <input type="submit" value="Registrar ponto">
                    
                </form>
            </div>
            <script th:if="${alerta == 'limiteAtingido'}">
                alert("Você já registrou sua entrada e sua saída!");
            </script>
            <script th:inline="javascript">
                preencherDataAtual();
            </script>
        </div>
    </div>
</body>
</html>
