<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="http://localhost:8080/css/home.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <script src="http://localhost:8080/scripts/home.js"></script>
    <div>
        <aside class="sidebar">
            <header class="sidebar-header">
                <img class="logo-img"
                    src="https://media.licdn.com/dms/image/D4E03AQH5IKxL5JdB0w/profile-displayphoto-shrink_800_800/0/1693953609968?e=1720051200&v=beta&t=HKQChgZlH0TnVFOlJBI47qSCiq2a7gUqW3VgW3xuWOc"
                    alt="Foto_Perfil">
            </header>
            <nav aria-label="menu">
                <button onclick="apresentarHome()" class="botao-home">
                    <span>
                        <i class="material-symbols-outlined"> home </i>
                        <span>Home</span>
                    </span>
                </button>
                <div th:if="${usuario.role != 'USER'}">
                    <a href="listaDocentes" target="_blank" rel="noopener">
                        <button class="botao-docentes">
                            <span>
                                <i class="material-symbols-outlined"> person </i>
                                <span>Gerenciar docentes</span>
                            </span>
                        </button>
                    </a> 
                </div>
                
                <button onclick="apresentarRegistroDePonto()" class="botao-registro-ponto">
                    <span>
                        <i class="material-symbols-outlined"> alarm_on </i>
                        <span>Registro de ponto</span>
                    </span>
                </button>
                <button onclick="" class="botao-lista-registros">
                    <span>
                        <i class="material-symbols-outlined"> list </i>
                        <span>Meus registros</span>
                    </span>
                </button>
                <button onclick="logout()">
                    <span>
                        <i class="material-symbols-outlined"> logout </i>
                        <span>Sair</span>
                    </span>
                </button>
            </nav>
        </aside>
    </div>

    <div class="container-registro-ponto" id="container-registro-ponto">
        <div class="meio">
            <h1>Registro de Ponto</h1>
            <form id="marcacaoPontoForm" th:action="@{/ponto/cadastroPonto}" method="post">
                <label for="idUsuario">
                    <div th:if="${usuario != null}">
                        <input type="number" id="idUsuario" name="idUsuario" th:value="${usuario.id}" hidden><br><br>
                    </div>
                </label>
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" readonly><br><br>

                <label for="horaEntrada">Hora de Entrada:</label>
                <input type="text" id="horaEntrada" name="horaEntrada" readonly><br><br>

                <input type="submit" value="Enviar">
            </form>
            <script th:if="${alerta == 'limiteAtingido'}">
                alert("Você já registrou sua entrada e sua saída!");
            </script>
            <script th:inline="javascript">
                preencherDataAtual();
            </script>
        </div>
    </div>

    <!--Criando menu mobile -->

    <button class="button-mobile" onclick="toggleMenu()">
        <i class="material-symbols-outlined"> menu </i>
    </button>

    <nav aria-label="menu-mobile" class="menu-mobile" id="menu-mobile">
        <button onclick="toggleMenu()" class="button-close" id="menu-mobile">
            <span>
                <i class="material-symbols-outlined"> close </i>
            </span>
        </button>
        <button>
            <span>
                <i class="material-symbols-outlined"> home </i>
                <span class="mobile-text">Home</span>
            </span>
        </button>
        <button>
            <span>
                <i class="material-symbols-outlined"> person </i>
                <span class="mobile-text">Gerenciar docentes</span>
            </span>
        </button>
        <button onclick="logout()">
            <span>
                <i class="material-symbols-outlined"> logout </i>
                <span class="mobile-text">Logout</span>
            </span>
        </button>
    </nav>

</body>

</html>