<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Docentes</title>
    <link rel="icon" type="imagex/png" href="../img/jornada-de-trabalho.png">
    <link rel="stylesheet" href="http://localhost:8080/css/listaDocente.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <main>
        <a th:href="@{/cadastroDocente}" target="_blank">Cadastrar novo docente</a>
        <a th:href="@{/relatorio/pdf/relatorio-docente(code='01', acao='v')}" target="_blank">Abrir em PDF</a>
        <form th:action="@{/relatorio/pdf/relatorio-horas/02}" target="_blank" method="get" class="pesquisa-docente">
            <input type="text" id="nomeCompleto" name="nomeCompleto" placeholder="Pesquisar docente">
            <button tyoe="submit" class="material-symbols-outlined"> search </button>
    </form>

    <form th:action="@{/relatorio/excel/relatorio-horas/03}" method="get" class="pesquisa-docente">
        <input type="text" id="nomeCompleto" name="nomeCompleto" placeholder="Pesquisar docente">
        <button tyoe="submit" class="material-symbols-outlined"> search </button>
    
</form>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Docente</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Data Nascimento</th>
                        <th scope="col">Horas/Mês</th>
                        <th scope="col"></th> <!-- Esses vazios são para percorrer o design da tabela -->
                        <th scope="col"></th> <!-- Esses vazios são para percorrer o design da tabela -->
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="pessoa: ${pessoas}">
                        <td data-th-text="${pessoa.nomeCompleto}"></td>
                        <td data-th-text="${pessoa.cpf}"></td>
                        <td data-th-text="${pessoa.telefone}"></td>
                        <td data-th-text="${pessoa.email}"></td>
                        <td data-th-text="${#dates.format(pessoa.dataNascimento, 'dd/MM/yyyy')}"></td>
                        <td data-th-text="${pessoa.horasMensais}"></td>
                        <td class="botao-excluir"><a th:href="@{'/deletarDocente/'+ ${pessoa.id}}">Excluir</a></td>
                        <td class="botao-editar"><a th:href="@{'/editarDocente/'+ ${pessoa.id}}">Editar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>