<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="http://localhost:8080/css/login.css">
</head>
<body>

    <div class="text-empresa">
        <h1>.LINK</h1>
        <h2>O seu sistema de gerenciamento de ponto!</h2>
    </div>
    <div class="form-login">
        <section class="area-login">
            <div class="login">
                <div id="msgErroUsernamePassword" th:if="${param.error}">
                    Username ou password inválido!
                </div>
                <div id="msgDeslogar" th:if="${param.logout}">
                    Você foi deslogado com sucesso!
                </div>
                <form th:action="@{/login}" method="post">
                    <input type="text" name="username" placeholder="Insira o número da matrícula" autofocus>
                    <input type="password" name="password" placeholder="Insira sua senha">
                    <input type="submit" value="Entrar">
                </form>
            </div>
        </section>
    </div>
</body>
</html>