<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="http://localhost:8080/css/login.css">
</head>

<body>
    <div class="form-login">
            <img src="../img/jornada-de-trabalho.png" alt="icone-login" class="icone-login">
        <div class="login">
            <div id="msgErroUsernamePassword" th:if="${param.error}">
                <script>
                    alert("Dados incorretos.Tente efetuar o login novamente!")
                </script>
            </div>
            <div id="msgDeslogar" th:if="${param.logout}">
                <script>
                    alert("Você fez logout do sistema!")
                </script>
            </div>
            <form th:action="@{/login}" method="post">
                <input type="text" name="username" placeholder="Username" autofocus>
                <input type="password" name="password" placeholder="Senha">
                <input type="submit" value="Entrar">
            </form>
        </div>
    </div>
</body>

</html>