<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/aplicacao/src/main/resources/static/css/login.css">
</head>
<body>

    <div class="text-empresa">
        <h1>.LINK</h1>
        <h2>O seu sistema de gerenciamento de ponto!</h2>
    </div>

    <div class="form-login">
        <section class="area-login">
            <div class="login">
                <form action="">
                    <input type="text" name="nome" placeholder="Insira o número da matrícula" autofocus>
                    <input type="text" name="senha" placeholder="Insira sua senha">
                    <input type="submit" value="Entrar">
                </form>
            </div>
        </section>
    </div>
</body>
</html>