<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="../img/jornada-de-trabalho.png">
    <link rel="stylesheet" href="http://localhost:8080/css/login.css">

</head>

<body>
    <div class="form-login">
        <img src="../img/jornada-de-trabalho.png" alt="icone-login" class="icone-login">
        <div class="login">
            <form th:action="@{/login}" method="post">
                <input type="text" name="username" placeholder="Username" autofocus>
                <input type="password" name="password" placeholder="Senha">
                <input type="submit" value="Entrar">
            </form>
        </div>
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div id="msgErroUsernamePassword" th:if="${param.error}" class="message error">
                Username ou senha inválida!
            </div>
        </div>
    </div>
    <script src="http://localhost:8080/scripts/login.js"></script>
</body>

</html>