<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa Docente</title>
</head>
<body>
<h1>Pesquise um docente</h1>

<div>
   

    <form th:action="@{/relatorio/pdf/relatorio-horas/02}" target="_blank" method="get">
            <label for="nomeCompleto">Nome Completo:</label>
            <input type="text" id="nomeCompleto" name="nomeCompleto" placeholder="Digite o nome">
            <button type="submit">Buscar</button>
        </form>
        
    </form>
</div>
</body>
</html>
